.mars {
    width: 50%; height: 50%;
}

.center {
    text-align: center; color: white;
}

.green {
    background-color: green;
}

        
        .ayyubxon {
            width: 400px;
            margin: 50px;
        }
        input, textarea {
            width: 100%;
            margin: 10px 0;
            padding: 8px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 30px;
            border: none;
            cursor: pointer;
        }

        .img {
            width: 500px;
        }

      .ширина {
        width: 100%;
      } 
      
      